# Conservative Django
Django==2.0.2
# Admin interface themes 
django-admin-interface==0.6.3
# Python-PostgreSQL Database Adapter
psycopg2==2.7.4

# Configuration
django-environ==0.4.4

#local dev requirements
#-------------------------
# the browser debugger
django-debug-toolbar==1.9.1
# extends the django manage command
django-extensions==1.9.9
# The WSGI debugger within the browser
Werkzeug==0.14.1